@import "tailwindcss";

@theme inline {
  --color-ebc-bronze: #A88258;
  --color-ebc-cream: #F5F5F0;
  --color-ebc-dark: #111111;
  --color-ebc-white: #FFFFFF;
}

:root {
  --background: var(--color-ebc-cream);
  --foreground: var(--color-ebc-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* El antialiased ya lo pusimos en el layout.tsx para fuentes premium */
}